{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% include 'header.html' %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Open Source Help Community</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://www.youtube.com/channel/UC1_IAby-9me3iICtxuiDL5Q">Sessions</a></li>
					<li><a href="https://github.com/OpenSourceHelpCommunity">Resources</a></li>
					<li><a href="mailto:opensourcehelpcommunity@gmail.com">Contact</a></li>
					<li><a href="https://opensourcehelp.herokuapp.com/">Join Us!</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="content">
	{% block content %}{% endblock %}
	{% block footer %}
	<footer>
		<div class="container">
			<div class="rectangle">
				<ul>
					<li>
						<a href="https://www.facebook.com/opensourcehelpcommunity/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://twitter.com/oshelpcommunity"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://github.com/OpenSourceHelpCommunity"><i class="fa fa-github" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UC1_IAby-9me3iICtxuiDL5Q"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
					</li>
					<span class="backToTop">
						<a id="toTop" name="Back to top!">Back to top</a>
					</span>
				</ul>
			</div>
			<div class="rectangle">
				<span class="copyright">
					&copy; 2017 Open Source Help Community
				</span>
			</div>
		</div>
	</footer>
	{% endblock %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static "main/js/script.js"%}"></script>
</body>
</html>
