{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron text-xs-center">
  <div class="container text-center">
      <h1 class="display-3" style="text-align: center">Thank you!</h1>
      <p class="lead" style="text-align: center"><strong>Your contest has been submitted for review.</strong></p>
      <hr>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
      </p>
  </div>
</div>

{% endblock %}
