{% extends 'base.html' %}

{% block content %}

    <form name="newContest" method="POST" class="form-horizontal" action = "{% url 'add_contest' %}">
        {% csrf_token %}
        <div class="form-group">
            <label style="margin-top:70px;" for="name" class="control-label col-xs-2">Name:</label>
            <div class="col-xs-3">
                <input type="text" style="margin-top:70px;" class="form-control" id="name" pattern="([A-Za-z\s-])\w+" name="name" placeholder="Contest Name" required>
            </div>
        </div>

        <div class="form-group">
            <label for="link" class="control-label col-xs-2">Contest's Website:</label>
            <div class="col-xs-3">
                <input type="url" class="form-control" id="link" name="link" placeholder="https://www.testweb.com" required>
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="control-label col-xs-2">Start Date:</label>
            <div class="col-xs-3">
                <input type="start_date" class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD">
            </div>
        </div>

        <div class="form-group">
            <label for="end_date" class="control-label col-xs-2">End Date:</label>
            <div class="col-xs-3">
                <input type="end_date" class="form-control" id="end_date" name="end_date" placeholder="YYYY-MM-DD">
            </div>
        </div>

        <div class="form-group">
            <label for="desc" class="control-label col-xs-2">Description:</label>
            <div class="col-xs-3">
                <textarea class="form-control" id="desc" name="desc" placeholder="Tell something about it.." rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-8">
                <button type="submit" class="save btn btn-default">SUBMIT</button>
            </div>
        </div>

    </form>

{% endblock %}