{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main-section">
	<div class="container">
		<div class="Button" align="center">
            <a href="{% url 'contest_new' %}" class="btn btn-default">Submit a New Contest</a>
		</div>
            <h3>List of Upcoming Contests:</h3>

			<ul>
			{% for contest in contest_list %}
				<li> <h4> <a href="{{contest.link}}">{{contest.name}}</a> </h4> </li>
				<strong>Start Date:</strong> {{contest.start_date}}<br>
				<strong>End Date:</strong> {{contest.end_date}}<br>
				<strong>Description:</strong> {{contest.description}}
		    {% endfor %}
			</ul>

	</div>
</section>
{% endblock %}
