{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
		<img id="logo" src="{% static "main/images/oshc-logo.png"%}" alt="" >
        <h1>Open Source Help Community</h1>
        <h3>A Virtual Platform To Help People To Start Contributing To Open Source Projects.</h3>
    </div>
  </div>


  <div class="container marketing">

    <div class="row">

      <div class="col-sm-8">
        <h2>Our Mission</h2>
		<p>Open Source Help Community is an a virtual platform to help people to start contributing to open source projects.</p>      <p>OSHC is established with the idea in mind to reach those people who are interested in contributing to open source projects but find it difficult. OSHC organizes sessions with open source projects contributors and publishes material which will be useful for people to get started with contributing to open source projects.</p>
        <p>If you would like to share your thoughts or your journey with us, have ideas to make this great, or have questions, please get in touch at <a href="mailto:opensourcehelpcommunity@gmail.com">opensourcehelpcommunity@gmail.com</a>.</p>
		<h2>Recent Tweets <img src="{% static "main/images/twitter.png"%}" alt="" width=30 height=30></h2>
        <div class="twitter-feed">

<a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" data-link-color="#26A9E0" href="https://twitter.com/oshelpcommunity">Tweets by oshelpcommunity</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <div class="col-sm-4">
		  <h2>Upcoming Sessions <!-- <img src=" class="img-circle" width=30 height=30> -->
</h2>
        <!-- EventBrite widget -->
<div style="width:195px; text-align:center;" ><iframe  src="https://www.eventbrite.com/calendar-widget?eid=33954516874" frameborder="0" height="377" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
      </div>

    </div>

  </div>
  <div class="container">

    <!-- FOOTER -->
    <footer>
      <div class="row">
          <div class="col-sm-3">
              <p>&copy; 2017 OSHC</p>
          </div>
          <div class="col-sm-6">
              <a href=" https://github.com/OpenSourceHelpCommunity"><i class="fa fa-github" style="font-size:30px;padding-right:8px;"></i></a>
              <a href="https://twitter.com/oshelpcommunity"><i class="fa fa-twitter" style="font-size:30px;padding-right:8px;"></i></a>
              <a href="https://www.facebook.com/opensourcehelpcommunity/"><i class="fa fa-facebook" style="font-size:30px;padding-right:8px;"></i></a>
          </div>
          <div class="col-sm-3">
              <p><a href="#">Back to top</a></p>
          </div>

      </div>


    </footer>
  </div>
{% endblock %}
