/*   GLOBAL DEFINATIONS STARTS  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: opacity 0.7s ease-in-out;
  font-family: "Montserrat", sans-serif
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  margin-bottom: 120px;
}

a {
  cursor: pointer;
  color: #0275d8;
  text-decoration: none;
}

.line-gap-10px {
  height: 10px;
}


/*   NAVBAR CSS STARTS  */

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #eee;
}

.navbar-inverse {
  background-color: #24292e;
  border-color: #24292e;
}

.vertical-align {
  display: block;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  float: none;
}


/*   SECTION ONE STARTS   */

.main-section {
  min-height: 70vh;
  height: auto;
  padding-top: 100px;
  background: white;
  background-color: white;
  position: relative;
  clear: both;
  width: 100%;
}

.logo-image {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.jumbotron {
  background-color: white;
  word-wrap: break-word;
  display: block;
}

.jumbotron h1 {
  font-size: 60px;
  color: #0275d8;
}

.jumbotron h4 {
  color: #999;
  font-size: 18px;
  padding-top: 20px;
}


/*   SECTION TWO START   */

.section-two {
  height: auto;
  padding: 70px 0;
  background-color: #eee;
  word-wrap: break-word;
  display: block;
}

.section-two h3 {
  font-size: 30px;
  color: #444444;
}

.bi {
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  font-size: 15px;
}

.section-two .intro {
  color: #666666;
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
}


/*   SECTION THREE START   */

.section-three {
  height: auto;
  min-height: 500px;
  padding: 40px 0;
}

.left-session-info {
  padding: 30px 50px;
}

.sRegister {
  color: white;
  font-size: 15px;
  background-color: #0275d8;
  border-color: #0275d8;
}

.sRegister a {
  color: white;
  text-decoration: none;
}

.left-social-section {
  padding: 0 50px;
}

iframe {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 0;
}


/*   FOOTER CSS STARTS  */

footer {
  height: auto;
  padding-top: 10px;
  background-color: #24292e;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
}

footer .container {
  position: sticky;
  display: block;
}

.rectangle {
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
}

.back-to-top {
  float: right;
  color: #999;
}

.back-to-top a {
  text-decoration: none;
}

.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}

.social {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}

.social .left-align {
  text-align: left;
}

.social .right-align {
  text-align: right;
}

.social ul {
  list-style: none;
}

.social ul li {
  width: 40px;
  height: 30px;
  color: #eee;
  font-size: 22px;
  display: inline-block;
}

.social a {
  color: #fff;
}


/*Media queries*/

@media (max-width: 320px) {
  .jumbotron h1 {
    font-size: 30px;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .jumbotron h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .main-section {
    min-height: 50vh;
    height: auto;
    clear: both;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-section {
    min-height: 50vh;
    height: auto;
    clear: both;
  }
}


/*Registration CSS starts*/

.form-title {
  color: #555;
  font-size: 28px;
  font-weight: 400;
  display: block;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.form-registration {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-registration .field-title {
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  display: block;
}

.form-registration .helptext {
  font-weight: 400;
  color: #607D8B;
  font-size: 12px;
  display: block;
}

.form-registration .form-registration-heading, .form-registration .checkbox {
  margin-bottom: 10px;
}

.form-registration .checkbox {
  font-weight: normal;
}

.form-registration .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-registration .form-control:focus {
  z-index: 2;
}

.form-registration input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-registration input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-registration input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration .forgot-password {
  margin-top: 10px;
}

.form-registration .new-account {
  display: block;
  margin-top: 10px;
}

.form-registration .btn {
  background: #0275d8;
}

.form-registration p:hover {
  color: #0275d8;
}

.form-registration button:hover {
  background: #ffffff;
  color: #0275d8;
}

.form-registration button:focus {
  background: #0275d8;
}

/*css for strength meter*/

.strength-wrapper {
    margin-top: -33px;
}

.strength-wrapper .strength {
  float:left;
  width:72px;
  height:3px;
  margin-right: 3px;
}

#passwordStrengthString {
  font-size: 0.8em;
  margin-left: -299px;
  font-weight: bold;
}

.zone {
  display:none;
}

/* CONTEST SUBMISSION PAGE CSS STARTS */
.vcenter {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 90vh;
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.subtitle {
  margin: 0 !important;
}
